# ==========================================
# Java Web(Eclipse Dynamic Web Project)
# ==========================================

# 编译结果
build/
bin/
out/
target/
*.class

# IDEA
.idea/
*.iml
*.ipr
*.iws

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.log
*.tmp
*.swp
*~

# 保留 Eclipse 项目配置
!.project
!.classpath
!.settings/

# 如果以后 upload 改为运行时生成，再取消注释
# src/main/webapp/upload/
# !src/main/webapp/upload/.gitkeep